<main>

    <div class="div-20">
        <div class="div-22">
            <div class="div-21">
                <img src="stocks-page\user-tie-solid.svg" alt="no image" class="img-admin">
                <p class="p-admin">ADMIN</p>
            </div>

            <div class="div-23">
                <button class="btn-stock">
                    <div class="div-24">

                        <div class="div-24">
                            <img src="stocks-page\cubes-stacked-solid.svg" alt="no image" class="img-stock">
                            <p class="p-stock">Stocks</p>
                        </div>

                        <img src="stocks-page\arrow-right-solid.svg" alt="no image" class="img-right">
                    </div>
                </button>


            </div>


        </div>


    </div>








</main>