.div-4 {
    display: flex;
    justify-content: center;
}

.banner {
    max-width: 40rem;
}


.select-1 {
    width: 100%;
    padding-block: 12px;
    border-radius: 8px;
    font-size: 14px;
    padding-left: 9px;
    font-weight: 500;
    border-color: #222222;
    margin-top: 10px;
}

.x-btn {
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin-left: 5px;
}


.div-5 {
    display: flex;
    align-items: center;
    position: relative;
}

.input-1 {
    border: solid gray 2px;
    outline: none;
    border-radius: 8px;
    padding-left: 36px;
    padding-block: 12px;
    font-size: 14px;
    font-weight: 500;
    width: 22rem;
}

.img-gmail {
    position: absolute;
    padding-left: 26px;
    max-width: 16px;
    left: -12px;
    top: 15px;
}

.x-btn {
    position: absolute;
    right: 18px;
    top: 17px;
    max-width: 10px;
}

.div-3 {
    display: flex;
    flex-direction: column;
}

.div-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

main {
    display: flex;
    margin-inline: auto;
    max-width: 54rem;
    gap: 2rem;
    margin-bottom: 7rem;
    align-items: center;
    justify-content: center;
}

.div-16{
    width: 100%;
}

.p-login {
    font-size: 40px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 31px;
}

.p-email {
    color: #222222;
    font-weight: 400;
    margin-bottom: 7px;
    font-size: 15px;
    margin-top: 0;
}

.img-lock {
    position: absolute;
    padding-left: 26px;
    max-width: 16px;
    left: -12px;
    top: 11px;
}

.img-hide {
    position: absolute;
    right: 18px;
    max-width: 15px;
    top: 16px;
}

.div-7 {
    display: flex;
    gap: 5px;
    color: #bab1b1;
}

.div-6 {
    display: flex;
    align-self: end;
}

.btn-login {
    background-color: #3341bf;
    width: 100%;
    color: white;
    padding-block: 10px;
    border-radius: 14px;
    font-size: 14px;
}

.btn-login:hover {
    opacity: 0.7;
    transition: 0.3s;
    cursor: pointer;
}

.img-google {
    max-width: 16px;
}

.div-8 {
    position: relative;
    display: flex;
    width: 100%;
}

.btn-google {
    border: solid darkgray 2px;
    width: 100%;
    font-size: 14px;
    color: #938d8d;
    font-weight: 500;
    padding-block: 10px;
    border-radius: 13px;
    margin-top: 5px;
}

.btn-google:hover {
    opacity: 0.7;
    transition: 0.3s;
    cursor: pointer;
}

.img-google {
    position: absolute;
    left: 90px;
    top: 20px;
    max-width: 15px;
}

.img-login {
    max-width: 34rem;
    max-height: 30rem;
}

.p-dont {
    color: #837f7f;
    font-weight: 500;
    font-size: 15px;
    margin-top: 0;
}

.p-dont:hover {
    cursor: pointer;
    color: #3341bf;
}

.span-1 {
    color: black;
    margin-left: 1px;
}

.span-1:hover {
    cursor: pointer;
    color: #3341bf;
}

.banner {
    max-width: 36rem;
}

.div-9 {
    position: relative;
    top: 17px;

}

.img-back {
    position: absolute;
    inset: 0;
}

.p-welcome {
    color: white;
    max-width: 15rem;
    font-size: 29px;
}

.div-10 {
    position: absolute;
    z-index: 1;
}

.p-access {
    color: white;
}

.div-10 {
    text-align: end;
    top: 22rem;
    left: 9rem;
}

.p-password {
    font-size: 15px;
    align-self: flex-end;
    margin: 0;
}

.p-password:hover {
    cursor: pointer;
    color: #3341bf;
}

.div-5 {
    flex-direction: column;
    align-items: baseline;
    gap: 4px;
}

.text {
    color: red;
    margin-top: 5px;
    font-size: 11px;
    margin-bottom: 0;
}

.div-15 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid lightgray 2px;
    border-radius: 10px;
    padding-inline: 24px;
    padding-block: 17px;
}


@media(max-width:1189px) {

    .img-back {
        max-width: 29rem;
    }

    .banner {
        max-width: 29rem;
    }

    .div-10 {
        left: 5rem;
    }
}


@media(max-width:963px) {
    main {
        gap: 2rem;
    }
}

@media(max-width:1105px) {
    main {
        flex-direction: column-reverse;
    }

    .img-login {
        max-width: 33rem;
    }

    .p-login {
        margin-bottom: 0;
    }
}


@media(max-width:640px) {
    .p-login {
        font-size: 29px;
    }

    .p-email {
        font-size: 11px;
    }

    .img-gmail {
        max-width: 12px;
        position: absolute;
        padding-left: 26px;
        left: -15px;
        top: 7px;

    }

    .input-1 {
        border: solid gray 2px;
        outline: none;
        border-radius: 5px;
        padding-left: 27px;
        padding-block: 5px;
        font-size: 11px;
        font-weight: 500;
        width: 12rem;
    }

    .img-lock {
        position: absolute;
        padding-left: 26px;
        max-width: 12px;
        left: -15px;
        top: 5px;
    }

    .img-hide {
        position: absolute;
        right: 12px;
        max-width: 12px;
        top: 7px;
    }

    .p-password {
        font-size: 11px;

    }

    .div-15 {
        padding-inline: 13px;
        padding-block: 8px;
    }

    .btn-login {
        background-color: #3341bf;
        width: 222px;
        color: white;
        padding-block: 7px;
        border-radius: 8px;
        font-size: 12px;
    }

    .p-dont {
        color: #837f7f;
        font-weight: 500;
        font-size: 12px;
        margin-top: 0;
    }

    .img-login {
        max-width: 20rem;
    }

    main {
        margin-bottom: 0;
    }

    .select-1 {
        width: 100%;
        padding-block: 5px;
        border-radius: 5px;
        font-size: 11px;
        padding-left: 9px;
        font-weight: 500;
        border-color: #222222;
        margin-top: 5px;
    }

}