<body>

    <div class="div-12">

        <div class="div-11">
            <div class="div-10">
                <p class="p-all">All Books</p>
                <div class="div-13">

                    <input type="text" placeholder="Search" class="input-search" [(ngModel)]="searchText"
                        (input)="onSearchChange()">
                    <img src="stocks-page\magnifying-glass-solid.svg" alt="no image" class="img-search">
                </div>
            </div>
        </div>

        <div class="table-container">


            <table class="student-table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Author Name</th>
                        <th>Genre Name</th>
                        <th>Total Copies</th>
                        <th>Available Copies</th>
                        <th>Created at</th>
                        <th>Action</th>
                    </tr>
                </thead>
                @for (item of books; track $index) {

                <tbody>
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.title}}</td>
                        <td>{{item.authorName}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.totalCopies}}</td>
                        <td>{{item.availableCopies}}</td>
                        <td>{{item.createAt}}</td>
                        <div class="div-005">
                            <img src="assets\pen-solid.svg" alt="no image" class="img-edit"
                                (click)="editGenre(item.id, item.name)">
                            <img src="assets/trash-solid.svg" alt="no image" class="img-trash"
                                (click)="deleteBook(item.id)">

                        </div>

                    </tr>



                </tbody>
                }

            </table>

            <div class="div-002">
                <button class="btn-add" (click)="openPopup()">Add Book</button>
            </div>

            <div class="popup-backdrop" *ngIf="showPopup">
                <div class="popup">
                    <h3>Add New Book</h3>
                    <input type="text" [(ngModel)]="newBook.title" placeholder="Title" class="input-genre" />
                    <input type="text" [(ngModel)]="newBook.author_name" placeholder="Author Name"
                        class="input-genre" />
                    <input type="number" [(ngModel)]="newBook.genre_id" placeholder="Genre ID" class="input-genre" />
                    <input type="number" [(ngModel)]="newBook.total_copies" placeholder="Total Copies"
                        class="input-genre" />
                    <input type="number" [(ngModel)]="newBook.available_copies" placeholder="Available Copies"
                        class="input-genre" />
                    <input type="date" [(ngModel)]="newBook.created_at" placeholder="Created At" class="input-genre" />

                    <div class="popup-buttons">
                        <button class="btn-submit" (click)="submitBook()">Submit</button>
                        <button class="btn-cancel" (click)="closePopup()">Cancel</button>
                    </div>
                </div>
            </div>

            <div class="popup-backdrop" *ngIf="showEditPopup">
                <div class="popup">
                    <h3>Update Book Details</h3>
                    <input type="number" [(ngModel)]="editedBook.id" class="input-genre" placeholder="Enter Id">

                    <input type="text" [(ngModel)]="editedBook.title" placeholder="Title" class="input-genre" />
                    <input type="text" [(ngModel)]="editedBook.author_name" placeholder="Author Name"
                        class="input-genre" />
                    <input type="number" [(ngModel)]="editedBook.genre_id" placeholder="Genre ID" class="input-genre" />
                    <input type="number" [(ngModel)]="editedBook.total_copies" placeholder="Total Copies"
                        class="input-genre" />
                    <input type="number" [(ngModel)]="editedBook.available_copies" placeholder="Available Copies"
                        class="input-genre" />
                    <input type="date" [(ngModel)]="editedBook.created_at" placeholder="created_at "
                        class="input-genre" />
                    <div class="popup-buttons">
                        <button (click)="submitBookUpdate()">Submit</button>
                        <button (click)="cancelEdit()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>