<body>

  <div class="div-12">

    <div class="div-11">

      <div class="div-10">
        <p class="p-all">Reservation Records</p>

        <div class="div-13">

          <input type="text" placeholder="Search" class="input-search" [(ngModel)]="searchText"
            (input)="onSearchChange()">
          <img src="stocks-page\magnifying-glass-solid.svg" alt="no image" class="img-search">
        </div>


      </div>
    </div>

    <div class="table-container">


      <table class="student-table">
        <thead>
          <tr>
            <th>Id</th>
            <th>User Name</th>
            <th>Book Name</th>
            <th>reserved At</th>
            <th>Status</th>
            <th>Action</th>

          </tr>
        </thead>

        <tbody *ngFor="let item of data; let i = index">
          <tr>
            <td>{{item.id}}</td>
            <td>{{item.user_name}}</td>
            <td>{{item.book_title}}</td>
            <td>{{item.reserved_at| date: 'yyyy-MM-dd'}}</td>
            <td>{{item.status}}</td>
            <td class="div-005">
              <img src="assets\pen-solid.svg" alt="no image" class="img-edit" (click)="editGenre(item.id, item.name)">
            </td>

          </tr>



        </tbody>


      </table>






    </div>

    <div class="div-002">
      <button class="btn-add" (click)="openPopup()">Add Reservation</button>
    </div>




    <div class="popup-backdrop" *ngIf="showPopup">
      <div class="popup">
        <h3>Add New Reservation</h3>

        <select [(ngModel)]="newReservation.user_id" class="input-genre">
          <option value="" disabled>Select User</option>
          <option *ngFor="let item of users" [value]="item.id">{{ item.name }}</option>
        </select>

        <select [(ngModel)]="newReservation.book_id" class="input-genre">
          <option value="" disabled>Select Book</option>
          <option *ngFor="let item of books" [value]="item.id">{{ item.title }}</option>
        </select>

        <select [(ngModel)]="newReservation.status" class="input-genre">
          <option value="" disabled>Select Status</option>
          <option value="Pending">Pending</option>
          <option value="Approved">Approved</option>
        </select>

        <input type="date" [(ngModel)]="newReservation.reserved_at" placeholder="Reserved Date" class="input-genre" />

        <div class="popup-buttons">
          <button class="btn-submit" (click)="submitReservation()">Submit</button>
          <button class="btn-cancel" (click)="closePopup()">Cancel</button>
        </div>
      </div>
    </div>

    <div class="popup-backdrop" *ngIf="showEditPopup">
      <div class="popup">
        <h3>Update Reservation Details</h3>

        <select [(ngModel)]="editReservation.user_name" class="input-genre">
          <option value="" disabled>Select User</option>
          <option *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
        </select>

        <select [(ngModel)]="editReservation.book_title" class="input-genre">
          <option value="" disabled>Select Book</option>
          <option *ngFor="let book of books" [value]="book.id">{{ book.title }}</option>
        </select>

        <select [(ngModel)]="editReservation.status" class="input-genre">
          <option value="" disabled>Select Status</option>
          <option value="Pending">Pending</option>
          <option value="Approved">Approved</option>
        </select>

        <input type="date" [(ngModel)]="editReservation.reserved_at" placeholder="Reserved Date" class="input-genre" />

        <div class="popup-buttons">
          <button (click)="submitReservationUpdate()">Submit</button>
          <button (click)="cancelEdit()">Cancel</button>
        </div>
      </div>
    </div>


  </div>

</body>